/* styles.module.css */

.CheckboxContainer {
    display: flex;
    flex-wrap: wrap;
    height: 160px;
    overflow-y: auto;
    border: 1px solid #ccc;
    margin: 5px;
    padding: 10px;
    width: 350px;
    display: flex;
    justify-content: center;
    top: 455px;
    border-radius: 10px;
    background-color: #bfbfbf;
    color: black;
    
    /* 스크롤 스타일 적용 */
    /* 스크롤바 가로 사이즈 */
    ::-webkit-scrollbar {
      width: 20px;
    }
    /* 스크롤바 막대기 */
    ::-webkit-scrollbar-thumb {
      border-radius: 20px;
      background-color: #555;
    }
    ::-webkit-scrollbar-thumb:hover {
      background-color: #f54;
    }
    ::-webkit-scrollbar-thumb:active {
      background-color: #f00;
    }
    /* 스크롤바 백그라운드 */
    ::-webkit-scrollbar-track {
      background-color: #fff;
    }
    ::-webkit-scrollbar-track:hover {
      background-color: #eee;
    }
  }
  
  .CheckboxLabel {
    display: flex;
    align-items: center;
    width: 50%;
    margin-bottom: 10px;
  }
  
  .CheckboxInput {
    margin-right: 10px;
    margin-left: 35px;
    border: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 3px;
    transition: all 0.3s ease;
  }
  
  .CheckboxInput:checked {
    background-color: white;
    border-color: white;
  }
  
  .CheckboxInput:checked::before {
    content: "✔";
    display: block;
    text-align: center;
    font-size: 16px;
    line-height: 16px;
    color: black;
  }

  .errorMsgStyle {
    font-size: 12px;
    color: #FF5722;
  };
  
  .loadingIcon {
    width: 100px;
    height: 100px;
    animation: spin 1s infinite linear;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }